*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background: rgb(163,18,8);
}

.card {
    background: rgb(255,255,255);
    width: 1000px;
    height: 500px;
    margin: 32px auto;
    padding: 50px;
    border: double 6px;
}

.title {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 50px;
    color: rgb(74, 83, 140);
    margin:16px;
}

.subhead {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:rgb(163,18,8);
    margin: 32px; 
}